/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Jan, 2015, 10:35:32 AM
    Author     : mahesh
*/

#quiz-testbank-jumper {
    display: block;
    float: left;
    width: 100px;
}

.q-skip-button {
    height: 200px;
    display:none;
}

.form-item-is-doubtful{
    display:inline;
}

.quiz-pass{
    background-color:green;
    
}

.quiz-fail{
    background-color: red;
}
.form-item-question-mode {
    display:block;
}

.form-item-exam-mode {
    display:block;
}

